<?xml version="1.0" encoding="utf-8"?>
<configSections>
<section name="paypal" type="PayPal.Manager.SDKConfigHandler, PayPalCoreSDK" />
<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
</configSections>

<!-- PayPal SDK config -->
<paypal>
<settings>
   <add name="mode" value="sandbox"/>
   <add name="connectionTimeout" value="30000"/>
   <add name="requestRetries" value="1"/>
   <add name="clientId" value="AXEKXbXgS8MbS4W1e9iEXMQpH9zKbND4fKK225i5GmYbUyI7hc9uIrfQ_opIDGe1mPfLa1HFED889xe0"/>
   <add name="clientSecret" value="EFSVnv6rmDw7U9gnYuRoA1Gn-QqxDG9m3PTAUCmKviUHAhVMjwTqSYj1tlJZvv95VsFZ4A3haZqfjtvD"/>
   
</settings>
<accounts>
   <account apiUsername="jb-us-seller_api1.paypal.com" apiPassword="..." apiSignature="..."/>
   <account apiUsername="enduser_biz_api1.gmail.com" apiPassword="..." apiCertificate="..." privateKeyPassword="..."/>
</accounts>
</paypal>

<log4net>
    <!-- Define some output appenders -->

    <appender name="FileAppender" type="log4net.Appender.FileAppender">
        <file value="logs\log.txt" />
        <appendToFile value="true" />
        <maxSizeRollBackups value="10" />
        <maximumFileSize value="100" />
        <layout type="log4net.Layout.PatternLayout">
            <header value="[Header]&#xD;&#xA;" />
            <footer value="[Footer]&#xD;&#xA;" />
            <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
        </layout>
    </appender>

    <!-- Setup the root category, add the appenders and set the default level -->

    <!-- Specify the level for some specific categories -->
    <root>
        <level value="debug" />
        <appender-ref ref="FileAppender" />
    </root>
    
</log4net>
